<footer class="main-footer" layout="row" layout-align="center center">
    <div class="brd-btm" flex flex-xl="80" layout-padding>
        <div class="footer-copy">
            <div layout="row" layout-align="start center">
                <p flex>Copyright &copy; 2017 Renuka Pahade</p>
            </div>
        </div>
    </div>
</footer>