<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title><%= title %></title>
<meta name="description" content="<%= meta %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,italic">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--page css-->
<% if (typeof style != 'undefined') { %>
<link rel="stylesheet" href="/stylesheets/<%= style %>.css">
<% } %>

<script src="/dist/static.bundle.js"></script>
<script src="/dist/app.bundle.js"></script>