<!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
  <div layout="row" class="upper-header" layout-align="end center" layout-wrap>
    <div flex="22" ng-controller="navCtrl as nav">
      <ul class="navbar-right">
        <li ng-if="!nav.isAuth()"><a ui-sref="signup">Register</a></li>
        <li ng-if="!nav.isAuth()"><a ui-sref="login">Sign in</a></li>
        <li ng-if="nav.isAuth()"><a ui-sref="app.dashboard" class="user-profile">Hi, <span class="txt-capital">{{nav.profile.name}}</span></a></li>
        <li ng-if="nav.isAuth()"><a ui-sref="logout">Sign out</a></li>
      </ul>
    </div>
  </div>
  <md-divider></md-divider>
</header>
