<!doctype html>
<html lang="eng">

    <head>
        <% include ./partials/head %>
    </head>

    <body ng-app="Cards" ng-controller="mainCtrl" ng-cloak>
        <% include ./partials/header %>
        <div>
            <ui-view></ui-view>
        </div>
        <% include ./partials/footer %>
    </body>

</html>