body{
    font-family:"Roboto";    
    font-size: 16px;
    margin:0px auto;
    padding:0px;
    width: 100%;
    max-width: 1920px;
}
.none {
  display: none;
}
.sprite {
    background: url('/images/sprite-common.png') no-repeat;
}
html.md-default-theme, html, body.md-default-theme, body, body md-content {
    background-color: #fff;
    color: #303030;
}
body header{
    background-color: #fff;
}
.bg-default{
    min-height: 100px;
}
.color-fff{
    color: #fff;
}
.res-img img{
    max-width: 100%;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:focus,a:hover,a:active{
    text-decoration: none;
}
.over-hidden{
    overflow: hidden;
}
.rel{
    position: relative;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.txt-capital {
    text-transform: capitalize;
}
header .upper-header{
    background-color: #e9e6e9;
    overflow: hidden;
}
.upper-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.upper-header li{    
    display: inline;
    line-height: 1;

}
.upper-header ul a {
    display: inline-block;
    padding: 6px 15px;
    color: #7b7a72;
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
}
.upper-header li:last-child{
    margin-right: 0;
}
.upper-header li:first-child a {
    background-color: #e5e9ae;
}
.upper-header .user-profile{
    color: #737373;    
    font-weight: 500;
    text-shadow: none;
}
.upper-header .user-profile span:hover {
    text-decoration: underline;
}
.header-nav li> a, .header-nav a {
    font-size: 14.43px;
    color: #737373;
    display: inline-block;
    padding: 23px 10px;
    font-weight: 500;
}
.header-nav a:hover {
    color: #e5e9ae;
}
.header-nav .active {
    border-bottom: 2px solid #e5e9ae;
}
.header-nav .active a {
    color: #e5e9ae;
}
.header-nav .md-menu.tools a {
    background-color: #e5e9ae;
    color: #fff;
    padding: 23px 15px;
    font-size: 14px;
    box-shadow: 1px 1px 5px 0px #929292;
    -webkit-box-shadow: 1px 1px 5px 0px #929292;
    -moz-box-shadow: 1px 1px 5px 0px #929292;
}
.button-inline {
    display: inline-block;
}
.button-thm {
    background-color: #e5e9ae !important;
    color: #666060;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    height: 44px;
    line-height: 44px;  
    border-radius: 0; 
}
.button-border {
    border: 2px solid #e5e9ae;
    color: #e5e9ae;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    height: auto;
    line-height: 40px;
    border-radius: 0;
}
.bg-thm{
    background-color: #e5e9ae !important;
}
.banner-bg .banner-head{
    font-size: 72px;
    font-weight: 200;
    margin-top: 94px;
    margin-bottom: 0;
}

/*--------Footer------------------*/
.main-footer {
    padding-top: 20px;
    background-color: #e9e6e9;
}
.main-footer .footer-h {
    font-size: 22px;
    font-weight: 500;

}
.footer-copy p{
    font-size: 13px;
    font-weight: 300;
    color: #676767;
    margin: 0;
}
/*Sign-in popup*/
.login-dialog .close {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .login-dialog .or-seprater {
    font-weight: 300;
  }
  .login-dialog .or-seprater:after, .login-dialog .or-seprater:before {
    content: '';
    height: 140px;
    width: 1px;
    background-color: rgba(0,0,0,0.12);
    text-align: center;
    position: absolute;
    left: 50%;
  }
  .login-dialog .or-seprater:after{
    top: 30px;
  }
  .login-dialog .or-seprater:before{
    bottom: 30px;
  }
  .login-dialog md-checkbox .md-label {
    font-size: 14px;
  }

 md-dialog.login-dialog {
    border-radius: 0;
  }
  
  .login-dialog .dialog-head {    
    font-size: 28px;
    font-weight: 300;    
    margin: 5px;
  }
  .login-dialog .forgot a{
    color: #0e7bd2;
    font-size: 14px;
    font-weight: 300;
  }
  .login-dialog .signup-wrapper {
    padding: 30px;
  }
  
  /*end here*/

 /** PLAY **/
 /**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
 .play{
    padding: 20px;
 }
.typesDemo ul[dnd-list],
.typesDemo ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.typesDemo ul[dnd-list] {
  min-height: 300px;
  padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.typesDemo ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.typesDemo ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  padding: 10px 15px;
  min-height: 100px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.typesDemo ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  margin-bottom: -1px;

  /* Disable text selection if item is not draggable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.typesDemo ul[dnd-list] li dnd-nodrag {
  display: block;
  padding: 10px 15px;
}

/**
 * Card-specifc background
 */
.typesDemo ul[dnd-list] li.background-spade {
  background-color: #999ea3;
}

.typesDemo ul[dnd-list] input.background-spade {
  background-color: #444647;
  color: #e7eef1;
}
.typesDemo ul[dnd-list] li.background-heart {
  background-color: #f25c5c;
}

.typesDemo ul[dnd-list] input.background-heart {
  background-color: #d12a2a;
  color: #e7eef1;
}
.typesDemo ul[dnd-list] li.background-club {
  background-color: #140f0f;
}

.typesDemo ul[dnd-list] input.background-club {
  background-color: #3d2727;
  color: #e7eef1;
}
.typesDemo ul[dnd-list] li.background-diamond {
  background-color: #eef0c0;
}

.typesDemo ul[dnd-list] input.background-diamond {
  background-color: #eaf082;
  color: #a5a695;
}

/**
 * Handle positioning
 */
.typesDemo .handle {
  cursor: move;
  position: absolute;
  top: 14px;
}

.typesDemo .name {
  margin-left: 20px;
}

.profile{
  padding: 20px;
}

.profile md-input-container .md-errors-spacer {
  min-height: 0px; 
  min-width: 0px; 
}


/*Add pic*/
/* Add new post */
.thumbnail-add-img{
    width:100px;
    height:100px;
    margin-right: 5px;
}
.thumbnail-add-img img {
    margin-right: 5px;
}
.button-add-img{
    width:100px;
    height:100px;
    border: 3px dashed #C0C0C0;
    font-weight: 300;
    font-size: 30px;
    line-height:100px;
    text-align:center;
    color: #C0C0C0;
    position: relative;
    cursor: pointer;
}
.button-add-img:hover{
    color: #e5e9ae;
    border: 3px dashed #e5e9ae;
}
.sm-thumb .close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #999;
}