<section class="bg-default rel">
    <div class="banner-wrapper">
        <div layout="row" layout-align="center center">
            <div class="banner-bg" flex flex-xl="80">
                <div layout="row" layout-align="center center">
                    <div flex flex-lg="85" flex-offset-md="5" flex-offset-sm="5" flex-offset-xs="5">
                        <h1 class="banner-head">Welcome to Castiko's project</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Banner End-->
</section>
<div ng-controller="dashboardCtrl as dashboard" class="main-dashboard">  
  <div layout="row" layout-align="start center">
        <div flex flex-offset-lg="25">
            <md-button class="button button-thm" ui-sref="profile">My Profile</md-button>
        </div>
        <div flex>
            <md-button class="button button-thm" ui-sref="play">Play now</md-button>
        </div>
    </div> 
</div>