<div layout-align="start center" class="play" ng-controller="playCntrl">
	<h1>Card game</h1>
	<div class="alert alert-success">
	    <strong>Instructions:</strong>
	    Drag &amp; drop the cards. Note that the cards can not be dropped in the list for the wrong collection type.
	    Example drop the 2 of spades into the collection of "SPADES".
	</div>
	<div class="typesDemo row">
		<div ng-show="lists[4].card.length!=0" layout="row" layout-align="start">
	        <div flex>
	            <md-button class="button button-thm" ng-click="save()">Save my game</md-button>
	        </div>
		</div>

		<div ng-if="lists[4].card.length!=0" ng-repeat="list in lists" style="display: inline-block;padding:10px;max-height:400px;overflow: scroll;" flex="20">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{list.label}} {{list.card.length}}/{{list.max}}</h3>
				</div>
				<div class="panel-body" style="min-height:">
					<ul dnd-list="list.card"
					    dnd-allowed-types="list.allowedTypes"
					    dnd-disable-if="list.card.length >= list.max">

					    <li ng-init="list.card = shuffle(list.card)" ng-repeat="card in list.card"
					        dnd-draggable="card"
					        dnd-type="card.type"
					        dnd-disable-if="card.type == 'unknown'"
					        dnd-moved="list.card.splice($index, 1)"
					        class="background-{{card.type}}"
					        >
					        <dnd-nodrag>
					          <div dnd-handle class="handle">:::</div>
					          <div class="name">
					              <input type="text" ng-model="card.name" class="background-{{card.type}} form-control input-sm">
					          </div>
					        </dnd-nodrag>
					    </li>

					    <li class="dndPlaceholder">
					        Drop any <strong>{{list.allowedTypes.join(' or ')}}</strong> here
					    </li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-if="lists[4].card.length==0" layout="row" layout-align="start center">
	        <div flex flex-offset-lg="25" ng-init="save()">
	        	<h1 class="banner-head">Good job, you have arranged all the cards correctly.</h1>
	            <md-button class="button button-thm" ng-click="restart()">Restart Game</md-button>
	        </div>
		</div>
	</div>
</div>