<section class="bg-default rel">
    <div class="banner-wrapper">
        <div layout="row" layout-align="center center">
            <div class="banner-bg" flex flex-xl="80">
                <div layout="row" layout-align="center center">
                    <div flex flex-lg="85" flex-offset-md="5" flex-offset-sm="5" flex-offset-xs="5">
                        <h1 class="banner-head">My profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Banner End-->
</section>
<div ng-controller="profileCntrl as profile">
  <div flex layout="row" layout-align="center center" style="padding-bottom:20px;">
      <div layout-align="start start" class="uploaded-images rel" ng-repeat="file in profile.filesArr">
        <div class="rel sm-thumb">
          <img class="thumbnail-add-img" ngf-thumbnail=profile.imageserviceBase+file ngf-size="{width: 300, height: 300, centerCrop: true}">
          <a class="close" ng-click="profile.removePics(file)"><i class="material-icons">close</i></a>
        </div>
      </div>
      <form name="picform">
        <div class="button-add-img" ng-hide="profile.filesArr.length==2" ngf-select="profile.addFile($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'">+</div>
      </form>   
  </div>
	<div layout="row" layout-align="center center" >
		<md-button class="button" aria-label="skill" ng-click="profile.editProfile()" ng-hide="profile.ageEditable==true || profile.nameEditable==true || profile.skillsEditable==true"><i class="material-icons">edit</i></md-button>
	</div>
	<div layout="row" layout-align="center center" >
		<div class="profile" flex="50" flex-xs="100" >
			<div flex="100" layout="row" layout-align="start center">
				<h3 ng-click="profile.ageEditable=!profile.ageEditable" ng-hide="profile.ageEditable">Age: {{profile.userDetails.age}}</h3>
				<md-input-container flex="75" style="display:inline-block;" ng-show="profile.ageEditable">
					<label>Age</label>
					<input type="text" name="age" ng-pattern="/^[0-9]+$/" ng-model="profile.userDetails.age">
				</md-input-container>
				<md-button class="button" aria-label="age" ng-click="profile.updateAge()" ng-show="profile.ageEditable"><i class="material-icons">done</i></md-button>
			</div> 
			<div flex layout="row" layout-align="start center">
				<h3 ng-click="profile.nameEditable=!profile.nameEditable" ng-hide="profile.nameEditable">Name: {{profile.userDetails.name}}</h3>
				<md-input-container flex="75" style="display:inline-block;" ng-show="profile.nameEditable">
					<label>Name</label>
					<input type="text" name="name" ng-model="profile.userDetails.name">
				</md-input-container>
				<md-button class="button" aria-label="name" ng-click="profile.updateName()" ng-show="profile.nameEditable"><i class="material-icons">done</i></md-button>
			</div> 
			<div flex layout="row" layout-align="start center">
				<md-input-container flex="75" style="display:inline-block;" ng-show="profile.skillsEditable">
					<label>Add a new skill</label>
					<input type="text" name="skills" ng-model="newSkill">
				</md-input-container>
				<md-button class="button" aria-label="skill" ng-click="profile.addSkill(newSkill)" ng-show="profile.skillsEditable"><i class="material-icons">done</i></md-button>
			</div>
      <div flex layout="row" layout-align="start center">
        <h3 ng-click="profile.skillsEditable=!profile.skillsEditable" ng-hide="profile.skillsEditable">Skills:</h3>
        <div ng-repeat="skill in profile.skills" style="margin:10px;padding:10px;border:1px solid #e5e9ae;">
          <p style="display:inline-block;">{{skill}}</p>
          <a class="close" ng-click="profile.removeSkill(skill)" ng-show="profile.skillsEditable"><i class="material-icons">close</i></a>
        </div>
      </div>
		</div>
	</div>
</div>
