<section class="bg-default rel">
    <div class="banner-wrapper">
        <div layout="row" layout-align="center center">
            <div class="banner-bg" flex flex-xl="80">
                <div layout="row" layout-align="center center">
                    <div flex flex-lg="85" flex-offset-md="5" flex-offset-sm="5" flex-offset-xs="5">
                        <h1 class="banner-head">Welcome to Castiko's project</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Banner End-->
</section>
<div class="login-dialog login-page" layout="row" layout-align="center center">   
	<div flex flex-gt-md="80">
		<div flex layout-gt-xs="row" layout-xs="column" layout-align="center center" ng-controller="signupCtrl as signup">
			<div flex class="signup-wrapper" flex-gt-xs="50" layout-fill>   
				<form ng-submit="signup.do()" name="signupForm" layout-fill>
					<div layout="column">
						<div class="dialog-head">Register</div>
						<md-input-container flex>
							<label>Email</label>
							<input type="email" name="email" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w+)+$/" ng-model="signup.email" required>
							<div ng-messages="signupForm.email.$error">
								<ng-message when="required" translate ng-show="signupForm.email.$error.required">This field is required.</ng-message>
								<ng-message when="ng-pattern" translate ng-show="signupForm.email.$error.pattern">Invalid email address.</ng-message>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label>Name</label>
							<input type="text" name="name" ng-model="signup.name" required>
							<div ng-messages="signupForm.name.$error">
								<ng-message when="required" translate ng-show="signupForm.name.$error.required">This field is required.</ng-message>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label>Password</label>
							<input type="password" name="password" ng-model="signup.password" required>
							<div ng-messages="signupForm.email.$error">
								<ng-message when="required" translate ng-show="signupForm.password.$error.required">This field is required.</ng-message>
							</div>
						</md-input-container>
						<div class="text-center">
							<md-button type="submit" class="button-thm">Sign Up</md-button>
						</div>
						<div layout="row" layout-align="center center" ng-show="message != ''">
							{{message}}
						</div>
					</div>
				</form>   
			</div> 
		</div>
	</div>   
</div>